.productcard {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  text-align: center;
  height: 100%;
  align-items: center;
}

.productcard img {
  width: 245px;
  height: 250px;
  border-radius: 5px; 
  margin-bottom: 10px;
}

.productcard h1 {
  font-size: 1.2rem;
  height: 75px;
}

.productcard p {
  font-size: 1rem;
}

.add-to-cart {
    display: flex;
    align-items: center;
    gap:10px;
}